name: Docker CI CD

on:
  push:
    branches:
      - main

jobs:
  ci:
    name: Build & Test Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/node-docker-cicd:latest .

      - name: Run tests inside Docker
        run: |
          docker run ${{ secrets.DOCKER_USERNAME }}/node-docker-cicd:latest npm test

      - name: Push image to Docker Hub
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/node-docker-cicd:latest

  cd:
    name: Deploy to VM
    runs-on: ubuntu-latest
    needs: ci

    steps:
      - name: Deploy using SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/node-docker-cicd:latest
            docker stop app || true
            docker rm app || true
            docker run -d -p 80:3000 --name app ${{ secrets.DOCKER_USERNAME }}/node-docker-cicd:latest
